@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('header.css');
@import url('top-area.css');
@import url('courses.css');
@import url('footer.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}

.section-title {
    font-size: 1.2rem;
    font-weight: 700;
    color: #562EFF;
    margin-bottom: 2rem;
    margin-left: 2em;
    margin-top: 2em;
}

hr {
    border: 1px solid #D1D1D1;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3.1em;
}